.blog-container {
  width: 100vw;
  padding: 15px;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "hd hd hd hd"
    "bc bc bc bc"
    "ft ft ft ft"
}


.author-info {
  grid-area: ar;
  display: flex;
  flex-direction: column;
}


.blog-img {
  grid-area: fg;
}


.blog-title {
  text-align: center;
}


.blog-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.blog-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url("../images/woman-avatar.jpg");
  background-size: cover;
  background-color: var(--white);
  margin: 2em;
}


.blog-content {
  grid-area: bc;
  padding: 2em;
  align-self: center;
}


#blog-image {
  height: 100vh;
  background-image: url("../images/red-snapper.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}